<head>
</head>
<body>

  <!-- header -->
  <hr>
  <header>
    <div class="header-left">Sections</div>
    <div class="header-logo">The Blabla Times</div>
    <div class="header-right">Subscribe Login</div>

  </header>

  <div class="articles">
    <div class="art-1">
      <div class="num-1">
        1.
      </div>
      <%= image_tag("")%>
    </div>
    <div class="art-2">

    </div>
    <div class="art-3">

    </div>
    <div class="art-4">

    </div>
    <div class="art-5">

    </div>
  </div>

  <main>
    <hr class="horiz-line">
    <div class="titre">
      <h1></h1>
      <h2></h2>
    </div>
    <hr class="horiz-line">
  </main>
</body>
